<div class="main">
  <div class="row">

    <div class="input-group">
      <label>Binary Value</label>
      <input [ngModel]="binaryValue" (ngModelChange)="onBinaryValueChange($event)"/>
      <span *ngIf="!isBinaryValid" class="error-message">
        <span *ngIf="binaryValueErrors.required">{{binaryValueErrors.required}}</span>
        <span *ngIf="binaryValueErrors.maxLength">{{binaryValueErrors.maxLength}}</span>
        <span *ngIf="binaryValueErrors.invalidBinary">{{binaryValueErrors.invalidBinary}}</span>
      </span>
    </div>

    <button class="button" (click)="convertValue()" [disabled]="!isBinaryValid">Convert</button>

    <div class="input-group">
      <label>Decimal Value</label>
      <input readonly [ngModel]="decimalValue"/>
    </div>




  </div>
</div>
