html,
body {
  height: 100%;
  margin: 0px;
  display: flex;
  flex: 1;
}

app-root {
  display: flex;
  flex: 1;
}

@font-face {
  font-family: "Calculator";
  src: url("./assets/fonts/Calculator.ttf") format("truetype");
}
